@model Delans.Models.GetShipmentsResponse
@{
    Layout = null;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm blocktable">
                <div class="">

                    <table id="info-table" cellspacing="0" class="table table-bordered table-checks">
                        <tbody>
                            <tr>
                                <th style="width: 5%"><input type="checkbox" onclick="toggle(this);" /></th>
                                <th style="width: 5%">Дата доставки</th>
                                <th style="width: 5%">Номер доставки</th>
                                <th style="width: 5%">Номер накладной</th>
                                <th style="width: 15%">Получатель</th>
                                <th style="width: 10%">Город</th>
                                <th style="width: 23%">Адрес</th>
                                <th style="width: 10%">Статус</th>
                                <th style="width: 10%">Интервал доставки</th>
                                <th style="width: 7%">Вес</th>
                                <th style="width: 10%">Сумма</th>
                            </tr>


                            @if (Model.Shipments != null)
                            {
                                foreach (var item in Model.Shipments)
                                {
                                    <tr>
                                        <td class="centermiddle"><input type="checkbox" value="@item.ShipmentNumber"></td>
                                        <td>@item.Date</td>
                                        <td><a onclick="ShipmentDetails(this.id, this.text)" id="@item.ClientShipmentNumber">@item.Number</a></td>
                                        <td>@item.ShipmentNumber</td>
                                        <td>@item.Recipient</td>
                                        <td>@item.Recipient_City</td>
                                        <td>@item.Recipient_FullAddress</td>
                                        <td>@item.Is_delivered</td>
                                        <td>@item.DesiredDate</td>
                                        <td class="alingright">@item.Weight</td>
                                        <td class="alingright">@item.Total</td>
                                    <tr class="orderdesc" id="@item.Number">
                                    </tr>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //table -->

<script src="../../js/searchtable.js"></script>

<script type="text/javascript">
    function ShipmentDetails(id, text) {
                let elem = $('#' + text);
                if (elem.css('display') == 'table-row') {
                    elem.css('display', 'none');
                } else {
                    let url = '@Url.Action("DetailsInfo", "Delans")';
                    elem.load(url, { number: id });
                    elem.css('display', 'table-row');
                }
            }
</script>